body#page-account-edit {
  form {
    label {
      color: #FFF;
    }
    &#update_house {
      background-color: $secondary-color;
      padding: 10px;
      border-radius: 3px;
      label {
        color: #000000;
      }

      .btn {
        background-color: #FFF;
        color: #000000;
        border: 0;
      }
    }
    &#input_house {
      background-color: $secondary-color;
      padding: 10px;
      border-radius: 3px;
      label {
        color: #000000;
      }

      .btn {
        background-color: #FFF;
        color: #000000;
        border: 0;
      }
    }
  }
}
