body#page-account {
  form {
    label {
      color: #FFF;
    }
    &#add_car {
      background-color: $secondary-color;
      padding: 10px;
      border-radius: 3px;
      label {
        color: #000000;
      }

      .btn {
        background-color: #FFF;
        color: #000000;
        border: 0;
      }
    }
    &#remove_car {
      background-color: $secondary-color;
      padding: 10px;
      border-radius: 3px;
      label {
        color: #000000;
      }

      .btn {
        background-color: #FFF;
        color: #000000;
        border: 0;
      }
    }
  }
}
