body#page-home {
  img {
    padding-bottom: 5px;
  }
  #even {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $secondary-color;
    border-radius: 3px;

    .btn{
      background-color: $primary-color;
    }
  }

  #odd {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;

    .btn {
      margin-bottom: 15px;
    }
  }
}
