body#page-part{
  .part-image {
    border: solid 3px #000000;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    a {
      display: block;
      height: 150px;
    }
  }
  .part-features {
    list-style: none;
    padding: 0;
    color: #000000;

    li {
      margin-bottom: 10px;
      i {
        text-align: center;
        width: 27px;
      }
    }
  }
  form {
    label {
      color: #FFF;
    }
    &#add_to_basket {
      background-color: $secondary-color;
      padding: 10px;
      border-radius: 3px;
      label {
        color: #000000;
      }

      .btn {
        background-color: #FFF;
        color: #000000;
        border: 0;
      }
    }
  }
}
