body#page-thermostat{
  #even {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    background-color: $secondary-color;

    .btn{
      background-color: $primary-color;
    }
  }

  #odd {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;

    .btn {
      margin-bottom: 15px;
    }
  }
